:root {
  --khaki: #F0E68C;
}

.figure {
    display: block; 
    margin: 1em auto;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px solid orange;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.info {
  background-image: url("figures/icons/post-it.png");
}

.caution {
  background-image: url("figures/icons/caution.png");
}

.infobox p {
  margin-top: .85em !important;
}

pre {
  line-height: 1.4 !important;
}

.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}

.level1 h1 {
  border-bottom: 1px solid;
}

#cb2-7, #cb2-16 {
  background-color: var(--khaki);
}